.container-sm-custom {
	max-width: 540px;
	padding-top: 15px;
}
.player {
	width: 100%;
	height: 682px;
}

/* iphone X and before */
@media (max-width: 375px) {
	.player {
		width: 100%;
		height: 518px;
	}

}

/* iphone Plus and pixel XL and before */
@media (min-width: 376px) and (max-width: 414px) {
	.player {
		width: 100%;
		height: 560px;
	}

}

.spotifyBadge {
	 width: 128px;
	 height: auto;
	 display: block;
	 margin-bottom: 1em; 
}
.spotifyBadge img {
	width: 100%;
}
.social {
	width: 42px;
	height: 42px;
	display: block;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 1em;
}
.social img {
	width: 100%;
	height: auto;
}